:root {
    --dark-blue: #003049;
    --red: #d62828;
    --dark-orange: #f77f00;
    --orange-yellow: #fcbf49;
    --tan: #fff3e2;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: var(--tan);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Monserrat, sans-serif;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em 0;
    background-color: var(--dark-blue);
    align-items: center;
}

nav {
    margin-right: 2em;
}


nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
}

article {
    display: flex;
    flex-direction: row;
    margin: 2em 5em;
}

.logo {
    margin-left: 2em;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
    padding: .5em;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-button {
    margin-left: 1.5em;
    border: 1px solid black;
    background-color: var(--orange-yellow);
    text-decoration: none;
    color: inherit;
    padding: .2em .4em;
    border-radius: .1em
}

.tagline-container {
    margin: 3em 0;
    text-align: center;
    background-image: url(../assets/pictures/tagline-background.jpg);
    background-size: cover;
    height: 22em;
}

.tagline {
    color: white;
    text-shadow: black 0 0 2px;
}


.article-content-container {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

.article-content-container h2 {
    text-align: center;
}

.article-img {
    width: 45em;
}

.promo-activity {
    margin: 3em 0;
    background-image: url(../assets/pictures/promo-volcano.jpg);
    text-align: center;
    background-size: contain;
    height: 22em;
}