:root {
    --dark-blue: #003049;
    --red: #d62828;
    --dark-orange: #f77f00;
    --orange-yellow: #fcbf49;
    --tan: #fff3e2;
    --orange-yellow-hover: #745821;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: var(--tan);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Monserrat, sans-serif;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em 0;
    background-color: var(--dark-blue);
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

nav {
    margin-right: 2em;
}


nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
}

article {
    display: flex;
    flex-direction: row;
    margin: 2em 5em;
}

city-content {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

faq {
    display: flex;
    flex-direction: column;
}

faq>* {
    padding-left: 1em;
}

question {
    background-color: #fcc04941;
    font-size: 1.5em;
}

answer {
    background-color: #f7800062;
    margin-bottom: 1em;
    font-size: 1.2em;
    padding-left: 2em;
}

city-content h2 {
    text-align: center;
}

excursion-content {
    margin: 0 10em;
}

.text-center {
    text-align: center;
}

.logo {
    margin-left: 2em;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
    padding: .5em;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-button {
    font-size: 1.2em;
    margin-left: 1.5em;
    border: 1px solid black;
    background-color: var(--orange-yellow);
    text-decoration: none;
    color: inherit;
    padding: .5em .75em;
    border-radius: .1em
}

.nav-button:hover {
    background-color: var(--orange-yellow-hover);
}

.tagline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em 0;
    text-align: center;
    background-image: url(../assets/pictures/tagline-background.jpg);
    background-size: cover;
    height: 22em;
}

.tagline {
    color: white;
    text-shadow: black 0 0 3px;
    font-size: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.article-content-container {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

.article-content-container h2 {
    text-align: center;
}

.article-img {
    width: 45em;
    height: 25.3125em;
    object-fit: cover;
}

.grid-img {
    width: 28em;
    height: 15.75em;
    object-fit: cover;
}

.img-rail-vertical img {
    width: 15em;
    height: 15em;
    object-fit: cover;
}

.promo-activity {
    margin: 3em 0;
    background-image: url(../assets/pictures/promo-volcano.jpg);
    text-align: center;
    background-size: contain;
    height: 22em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.promo-text {
    color: white;
    text-shadow: black 0 0 3px;
    font-size: 3em;
}

.promo-button {
    border: 1px solid black;
    border-radius: 4px;
    background-color: var(--orange-yellow);
    color: white;
    padding: 1em;
    font-size: 1.2em;
}

.promo-button:hover {
    background-color: var(--orange-yellow-hover);
    cursor: pointer;
}

.city-activity-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 2em;
}

.city-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

.excursion-divider {
    background-image: url(../assets/pictures/excursion-divider.jpg);
    text-align: center;
    background-size: cover;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.excursion-divider h2 {
    font-size: 2em;
    color: var(--dark-blue);
    text-shadow: white 0 0 3px;
    background-color: rgba(255, 255, 255, .9);
    padding: .2em 1em;
}

.getting-to-taniti-main h1 {
    text-align: center;
    color: var(--dark-blue);
}

.getting-to-taniti-main>* {
    margin: 1em 0;
}

.primary-travel-option-container {
    display: flex;
    flex-direction: row;
}

.primary-travel-option {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.secondary-travel-option-container {
    display: flex;
    flex-direction: row;
}

.secondary-travel-option {
    text-align: center;
    margin: 0 .8em;
}

.lodging-and-dining-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cuisine-slider {
    height: 15em;
    background-image: url(../assets/pictures/cuisine-slider-1.jpg);
    background-size: contain;
    margin: 3em 0;
}

.lodging-and-dining-article {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
}

.lodging-and-dining-article>* {
    text-align: center;
}

.img-rail-vertical {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

.faq-header {
    margin-left: 2em;
}